<div class="nav sidenav">
    <h3 class="head-t">sjycs</h3>
<table class="table table-striped table-hover">
    {% if site.sjycs.first[0] == null %}
    {% for sjyc in site.sjycs %}
    <tr><td><a href="/sjycs/#{{ sjyc }}-ref">
        {{ sjyc | join: "/" }} <span class="btn btn-primary btn-xs pull-right">({{ site.sjycs[sjyc].size }}) </span>
    </a></td></tr>
    {% endfor %}
    {% else %}
    {% for sjyc in site.sjycs %}
    <tr><td><a href="/sjycs/#{{ sjyc[0] }}-ref">
        {{ sjyc[0] | join: "/" }} <span class="btn btn-primary btn-xs pull-right">({{ sjyc[1].size }})</span>
    </a></td></tr>
    {% endfor %}
    {% endif %}
</table>
<h3 class="head-t">Tags</h3>
<div>
    {% if site.tags.first[0] == null %}
    {% for tag in site.tags %}
    <div class="btn btn-default btn-sm"><a href="/tag/{{ site.JB.tags_path }}#{{ tag }}-ref">{{ tag }} <span>({{ site.tags[tag].size }})</span></a></div>
    {% endfor %}
    {% else %}
    {% for tag in site.tags %}
    <div class="btn btn-default btn-sm"><a href="/tag/{{ site.JB.tags_path }}#{{ tag[0] }}-ref">{{ tag[0] }} <span>({{ tag[1].size }})</span></a></div>
    {% endfor %}
    {% endif %}
</div>
</div>
