<header class="navbar navbar-inverse navbar-fixed-top docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <img src="{{ '/styles/images/logo.png' | prepend: site.baseurl }}" alt="吕雄">
      </a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li></li>
        <li><a href="{{ '/' | prepend: site.baseurl }}">首页</a></li>
        <li><a href="{{ '/tag' | prepend: site.baseurl }}">博文分类</a></li>
       </ul>
      
       <ul class="nav navbar-nav">
        <li><a href="{{ '/message' | prepend: site.baseurl }}">|云墨书林</a></li>
        <li><a href="{{ '/poetry' | prepend: site.baseurl }}">古韵听香</a></li>
        <li><a href="{{ '/prose' | prepend: site.baseurl }}">聆楼觉梦|</a></li>
      </ul>
      
       <ul class="nav navbar-nav">
        <li><a href="{{ '/sjyc' | prepend: site.baseurl }}">|数据芸窗</a></li>
        <li><h3><a href="{{ '/wljp' | prepend: site.baseurl }}">文庐经圃</a><h3>
         <ul class="nav navbar-nav" style="display: none;">
          <li><a href="{{ '/wljp/r' | prepend: site.baseurl }}">R语言</a></li>
          <li><a href="{{ '/wljp/python' | prepend: site.baseurl }}">Python</a></li>
          <li><a href="{{ '/wljp/eviews' | prepend: site.baseurl }}">Eviews</a></li>
          <li><a href="{{ '/wljp/amos' | prepend: site.baseurl }}">AMOS</a></li>
          <li><a href="{{ '/wljp/spss' | prepend: site.baseurl }}">SPSS</a></li>
          <li><a href="{{ '/wljp/powerbi' | prepend: site.baseurl }}">PowerBI</a></li>
          <li><a href="{{ '/wljp/csss' | prepend: site.baseurl }}">CSSS</a></li>
        </ul>
         </li>
        <li><a rel="nofollow" href="{{ '/reference' | prepend: site.baseurl }}">资源分享|</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ '/road' | prepend: site.baseurl }}">建站之路</a></li>
        <li><a href="{{ '/private' | prepend: site.baseurl }}">个人相册</a></li>
        <!-- <li><a href="{{ '/donate' | prepend: site.baseurl }}">打赏我</a></li> -->
        <li><a rel="nofollow" href="{{ '/me' | prepend: site.baseurl }}">关于我</a></li>
        <li><a rel="nofollow" href="{{ '/talktome' | prepend: site.baseurl }}">TalkToMe</a></li>
      </ul>
    </nav>
  </div>
</header>
