---
layout: default
title: 梦笔醉书
header: Posts By mbzs
published: true
---
---

<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        <div id="navigation">
        	<h1>梦笔醉书</h1>
      		<ul class="nav sidenav">
			  	{% if site.mbzss.first[0] == null %}
				  	{% for mbzs in site.mbzss %} 
				  	<li><a href="{{ site.JB.mbzss_path }}#{{ mbzs }}-ref">{{ mbzs }} <span >({{ site.mbzss[mbzs].size }})</span></a></li>
				  	{% endfor %}
				{% else %}
				  	{% for mbzs in site.mbzss %} 
				  	<li><a href="{{ site.JB.mbzss_path }}#{{ mbzs[0] }}-ref">{{ mbzs[0] }} <span style="color: #999;" >({{ mbzs[1].size }})</span></a></li>
				  	{% endfor %}
				{% endif %}
          	</ul>
        </div>
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
          <div class="home">
          	{% for mbzs in site.mbzss %} 
			  <h2 class="title-border" id="{{ mbzs[0] }}-ref">{{ mbzs[0] }}</h2><hr>
			  <div>
			    {% assign pages_list = mbzs[1] %}  
			    {% include LessOrMore/pages_list %}
			  </div><hr>
			{% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
